Repository AcidOP/portfolio: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["eslint --fix", "git add"],
  "*.{css,scss}": ["stylelint --fix", "git add"],
  "*.{json,md}": ["prettier --write", "git add"]
}

style: setup commmitlint and commitizen
  .husky/commit-msg
  .husky/prepare-commit-msg
  commitlint.config.js
  package-lock.json
  package.json
Due: eslint --fix, prettier --write

feat: added active navbar links
  src/components/Navbar/NavLink.tsx
  src/components/Navbar/Navbar.tsx
Due: eslint --fix

feat: setup active navlink component
  src/app/about/_components/Hero.tsx
  src/app/about/page.tsx
  src/components/Navbar/NavLink.tsx
  src/components/Navbar/Navbar.tsx
  src/data/config.json
Due: eslint --fix, prettier --write

feat(hero section): hero section
  src/app/about/_components/Hero.tsx
Due: eslint --fix

refactor: refactored all code
  src/app/page.tsx
  tsconfig.json
Due: eslint --fix, prettier --write

feat: refactor
  src/app/about/_components/Hero.tsx
Due: eslint --fix

refactor
  .husky/commit-msg
  .husky/pre-commit
  .husky/prepare-commit-msg
  src/app/about/_components/Hero.tsx
  src/app/page.tsx
Due: eslint --fix

fix: fixed UI breaking in desktop devices
  src/app/page.tsx
Due: eslint --fix

fix: typo
  src/app/page.tsx
Due: eslint --fix

feat: added a small story component in about page
  src/app/about/_components/Storyblock.tsx
  src/app/about/page.tsx
Due: eslint --fix

refactor: changed module resolution
  tsconfig.json
Due: prettier --write

feat: image for storyblock component
  public/images/woman-painting.jpeg
Due: none

fix: overflow x hidden
  src/app/layout.tsx
Due: eslint --fix

feat: changed navbar to sticky type
  src/components/Navbar/Navbar.tsx
Due: eslint --fix

feat: added a story component
  src/app/about/_components/Storyblock.tsx
Due: eslint --fix

fix: created a container
  src/app/layout.tsx
Due: eslint --fix

fix: fixed a bug where navbar used to extend from the screen width
  src/components/Navbar/Navbar.tsx
Due: eslint --fix

feat: setup custom width of entire page
  src/app/layout.tsx
Due: eslint --fix

fix: accidentally pushed nav with red background
  src/components/Navbar/Navbar.tsx
Due: eslint --fix

fix: fixed misalignment
  src/app/page.tsx
Due: eslint --fix

feat: added an aesthetic blob in homepage ui
  src/app/page.tsx
Due: eslint --fix

feat: added a details section in about page
  public/icons/github.svg
  public/icons/instagram.svg
  public/icons/twitter.svg
  public/images/about-me.png
  src/app/about/_components/Storyblock.tsx
  src/app/about/_components/Whoami.tsx
  src/app/about/page.tsx
Due: eslint --fix

refactor: updated file name
  src/app/layout.tsx
  src/data/config.json
  src/data/config.ts
Due: eslint --fix, prettier --write

refactor: updated filename
  src/app/page.tsx
  src/components/Navbar/Navbar.tsx
Due: eslint --fix

refactor: prettier code
  src/app/about/_components/Storyblock.tsx
  src/app/about/_components/Whoami.tsx
Due: eslint --fix

feat: updated padding
  src/app/about/_components/Whoami.tsx
Due: eslint --fix

feat(component): added a new Testimonial component
  src/app/page.tsx
  src/components/Navbar/Navbar.tsx
  src/components/Testimonials.tsx
  src/data/config.ts
Due: eslint --fix

feat(component): added a new Testimonial component
  src/components/Testimonials.tsx
  src/data/config.ts
Due: eslint --fix

fix(component): removed extra spacing
  src/components/Testimonials.tsx
Due: eslint --fix

feat(component): added Footer
  next.config.mjs
  src/app/layout.tsx
  src/app/template.tsx
  src/components/AnimatedTooltip.tsx
  src/components/Footer.tsx
  src/components/Footer/ContactLink.tsx
  src/components/Footer/Footer.tsx
  src/components/Newsletter.tsx
Due: eslint --fix

feat(component): added Footer
  src/components/AnimatedTooltip.tsx
  src/components/Footer/ContactLink.tsx
  src/components/Footer/Footer.tsx
  src/components/Newsletter.tsx
Due: eslint --fix

refactor(component): added underline under headings
  public/Home-1.png
  public/IMG_20221125_235204_534-removebg-preview.png
  public/IMG_20230531_183750-removebg-preview.png
  public/P-IMG-20220815-WA0023-removebg-preview.png
  public/images/hero-about.jpg
  public/testimonials/julie-pattyn.jpg
  src/components/Footer/Footer.tsx
Due: eslint --fix

fix(component): changed fake names
  src/components/Newsletter.tsx
Due: eslint --fix

feat(component): added a blurry blob in background
  src/components/Footer/Footer.tsx
Due: eslint --fix

chore(files): added blogs from previous website
  src/data/blogs/10-years-on-the-internet.md
  src/data/blogs/15-unorthodox-apis-to-elevate-your-project.md
  src/data/blogs/cheatsheet/linux-cheatsheet-101.md
  src/data/blogs/cheatsheet/markdown-cheatsheet.md
  src/data/blogs/cheatsheet/regex-cheatsheet-101.md
  src/data/blogs/cyber/fully-undetectable-reverse-shells.md
  src/data/blogs/cyber/malware-on-discord-a-cautionary-tale.md
  src/data/blogs/cyber/why-cybersecurity-is-crucial-in-the-modern-workplace.md
  src/data/blogs/guides/beautify-your-github-profile-like-a-pro.md
  src/data/blogs/guides/how-to-brand-yourself-in-9-steps.md
  src/data/blogs/guides/how-to-solve-recaptcha-v3-using-python-and-2captcha.md
  src/data/blogs/guides/learn-map-filter-and-reduce-in-javascript-a-guide-for-beginners.md
  src/data/blogs/how-crypto-lost-its-way.md
  src/data/blogs/tailwindcss-vs-bootstrap.md
  src/data/blogs/webdev/integrating-google-analytics-with-nextjs.md
  src/data/blogs/webdev/npm-vs-yarn-an-indepth-comparison.md
  src/data/blogs/webdev/react-mastery-how-to-write-highquality-code-like-a-pro.md
Due: prettier --write
