Repository AcidOP/portfolio: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix, prettier --write

fix: filename casing
  .prettierignore
  public/site.webmanifest
Due: none

fix: import filenames
  src/app/blogs/page.tsx
  src/app/blogs/page/[page]/page.tsx
  src/app/tags/[tag]/page.tsx
  src/app/uses/page.tsx
Due: eslint --fix

fix: blurred image
  src/components/about.tsx
Due: eslint --fix

fix: navbar disappear on mobile hamburger open
  src/app/globals.css
  src/app/layout.tsx
  src/components/navbar/Navbar.tsx
  src/components/navbar/index.tsx
  src/components/navbar/mobile/mobile-nav.tsx
Due: eslint --fix, stylelint --fix

fix: hero layout broken
  src/components/hero/hero.tsx
Due: eslint --fix

fix: layout overflow
  src/components/hero/stacked-card.tsx
  src/components/hero/what-i-do.tsx
Due: eslint --fix

fix: layout overflow
  src/components/hero/stacked-card.tsx
Due: eslint --fix

feat: Table of Contents added on blogs page
  src/app/blogs/[slug]/page.tsx
  src/app/globals.css
  src/components/blog-header.tsx
  src/components/mdx/back-button.tsx
  src/components/mdx/mdx-components.tsx
  src/components/mdx/mdx.tsx
  src/components/mdx/text-headings.tsx
  src/components/mdx/toc-mdx.tsx
Due: eslint --fix, stylelint --fix

fix: Heading elements not in a sequentially-descending order in TOC
  src/components/mdx/toc-mdx.tsx
Due: eslint --fix

feat: updated mdx components
  .gitignore
  contentlayer.config.ts
  package.json
  src/app/layout.tsx
  src/components/mdx/image.tsx
  src/components/mdx/link.tsx
  src/components/mdx/mdx-components.tsx
  src/components/mdx/mdx.tsx
  src/components/mdx/text-headings.tsx
  src/data/blogs/js-map-filter-reduce.mdx
  src/styles/codeblock.css
  src/styles/globals.css
  tailwind.config.ts
  yarn.lock
Due: eslint --fix, stylelint --fix, prettier --write

fix: menu does not close on click outside
  src/components/navbar/Hamburger.tsx
  src/components/navbar/dropdown/index.tsx
  src/hooks/use-click-outside.tsx
Due: eslint --fix

feat: share post card on blog
  src/app/blogs/[slug]/page.tsx
  src/components/mdx/share-post.tsx
  src/components/mdx/toc-mdx.tsx
Due: eslint --fix

feat: youtube component for mdx
  contentlayer.config.ts
  src/components/mdx/button.tsx
  src/components/mdx/mdx-components.tsx
  src/components/mdx/toc-mdx.tsx
  src/components/mdx/youtube.tsx
Due: eslint --fix

fix: headings hidden behind sticky nav
  src/app/layout.tsx
  src/components/favicon/index.tsx
Due: eslint --fix

refactor
  src/app/layout.tsx
  src/components/favicon/index.tsx
Due: eslint --fix

feat: new blog
  src/data/blogs/youtube-embed-markdown.mdx
Due: none

feat: New MDX Component
  src/components/mdx/callout.tsx
  src/components/mdx/mdx-components.tsx
Due: eslint --fix

feat: updated blog cover
  public/blogs/youtube-embed-markdown/cover.png
  src/data/blogs/youtube-embed-markdown.mdx
Due: none

feat: updated styles
  src/components/mdx/share-post.tsx
Due: eslint --fix

feat: updated blog page layout
  src/app/blogs/[slug]/page.tsx
  src/components/mdx/toc-mdx.tsx
Due: eslint --fix

fix: broken url in post share button
  src/components/mdx/share-post.tsx
Due: eslint --fix

fix: incorrect share link in share post button
  src/components/mdx/share-post.tsx
Due: eslint --fix

refactor
  src/app/blogs/[slug]/page.tsx
  src/utils/blog.ts
Due: eslint --fix

feat: added new tool in blog
  src/data/blogs/developer-seo-tips.mdx
Due: none

fix: broken toc depth
  src/components/mdx/mdx-components.tsx
  src/components/mdx/toc-mdx.tsx
Due: eslint --fix

feat: updated p tag styles
  src/components/mdx/mdx-components.tsx
Due: eslint --fix

fix: removed console log
  src/components/mdx/share-post.tsx
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  stylelint --fix: any of: *.{css,scss}
  prettier --write: any of: *.{json,md}
