Repository AcidOP/portfolio: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["eslint --fix", "git add"],
  "*.{css,scss}": ["stylelint --fix", "git add"],
  "*.{json,md}": ["prettier --write", "git add"]
}

fix: Image missed width property
  src/components/mdx/mdx-components.tsx
Due: eslint --fix

fixed and added few things
  src/app/blogs/[slug]/page.tsx
  src/app/blogs/page.tsx
  src/app/blogs/page/[page]/page.tsx
  src/app/tags/[tag]/page.tsx
  src/app/tags/page.tsx
  src/components/BlogCard.tsx
  src/components/hero/bento.tsx
  src/components/mdx/mdx.tsx
  src/utils/blog.ts
Due: eslint --fix

refactor: refactored to reuse blog card layout
  src/app/blogs/[slug]/page.tsx
  src/app/blogs/_components/Pagination.tsx
  src/app/blogs/page.tsx
  src/app/blogs/page/[page]/page.tsx
  src/app/tags/[tag]/page.tsx
  src/components/cards/BlogCard.tsx
  src/components/cards/ListBlogs.tsx
Due: eslint --fix

refactor
  src/app/blogs/page/[page]/page.tsx
Due: eslint --fix

fix: sharp broke production
  package.json
  yarn.lock
Due: prettier --write

feat: added actual case studies
  package.json
  src/app/about/page.tsx
  src/app/blogs/[slug]/page.tsx
  src/components/mdx/mdx.tsx
  src/data/works/anshumaan-art.mdx
  src/data/works/yentarirah.mdx
  yarn.lock
Due: eslint --fix, prettier --write

fix: rehype-slug added extra content on IDs
  package.json
  src/components/mdx/header.tsx
  src/components/mdx/mdx-components.tsx
  src/components/mdx/mdx.tsx
  yarn.lock
Due: eslint --fix, prettier --write

feat: Added custom slugs in markdown headings
  src/components/mdx/mdx-components.tsx
Due: eslint --fix

feat: Updated case studies and external link icon
  src/components/mdx/mdx.tsx
  src/data/works/anshumaan-art.mdx
  src/data/works/yentarirah.mdx
Due: eslint --fix

feat: favicons added
  public/favicon/dark/android-chrome-192x192.png
  public/favicon/dark/android-chrome-512x512.png
  public/favicon/dark/apple-touch-icon.png
  public/favicon/dark/favicon-16x16.png
  public/favicon/dark/favicon-32x32.png
  public/favicon/light/android-chrome-192x192.png
  public/favicon/light/android-chrome-512x512.png
  public/favicon/light/apple-touch-icon.png
  public/favicon/light/favicon-16x16.png
  public/favicon/light/favicon-32x32.png
  src/app/favicon.ico
  src/app/layout.tsx
  src/components/favicon/dark.tsx
  src/components/favicon/index.tsx
  src/components/favicon/light.tsx
  src/components/favicon/site.webmanifest
Due: eslint --fix

fix: removed unused logo
  public/logos/logo-base-1200x1200.png
  public/logos/logo-base-256x256.png
  public/logos/logo-base-32x32.png
  public/logos/logo-black-1200x1200.png
  public/logos/logo-black-256x256.png
  public/logos/logo-black-32x32.png
  public/logos/logo-white-1200x1200.png
  public/logos/logo-white-256x256.png
  public/logos/logo-white-32x32.png
  src/app/layout.tsx
Due: eslint --fix

feat: Changed logo on navbar
  src/components/navbar/navbar.tsx
  src/components/navbar/navlinks.ts
  src/data/logo.png
Due: eslint --fix

refactor: sorted imports
  src/components/navbar/navbar.tsx
Due: eslint --fix

fix & feat: type errors and added links on every markdown heading
  src/components/mdx/mdx-components.tsx
  src/components/mdx/text-headings.tsx
  src/data/blogs/my-first-post.mdx
  src/utils/string.ts
Due: eslint --fix

fix: Simple Analytics script not loading
  src/components/analytics/SimpleAnalytics.tsx
  vercel.json
Due: eslint --fix, prettier --write

feat: Added blog count for tags
  src/app/tags/Tag.tsx
  src/app/tags/[tag]/page.tsx
  src/app/tags/page.tsx
  src/components/mdx/header.tsx
  src/utils/blog.ts
Due: eslint --fix

refactor: removed folder
  src/app/about/Hero.tsx
  src/app/about/Storyblock.tsx
  src/app/about/Whoami.tsx
  src/app/about/page.tsx
  src/app/blogs/Pagination.tsx
  src/app/blogs/page.tsx
  src/app/blogs/page/[page]/page.tsx
  src/app/contact/Calendly.tsx
  src/app/contact/page.tsx
  src/app/newsletter/SubscribeBox.tsx
  src/app/newsletter/page.tsx
Due: eslint --fix

refactor: remved _components folder
  src/app/about/Storyblock.tsx
  src/app/about/Whoami.tsx
Due: eslint --fix

fix: webmanifest did not load
  public/site.webmanifest
Due: none

fix: webmanifest did not load
  public/uses/hardware/fifine-a6t.jpg
  public/uses/hardware/laptop.jpg
  public/uses/hardware/monitor.jpg
  public/uses/hardware/mouse.jpg
  public/uses/hardware/webcam.jpg
  public/uses/software/doki.jpg
  public/uses/software/font.jpg
  public/uses/software/gitlens.jpg
  public/uses/software/javascript.jpg
  public/uses/software/markdown.jpg
  public/uses/software/nextjs.jpg
  public/uses/software/nvm.jpg
  public/uses/software/obsidian.jpg
  public/uses/software/prettier.jpg
  public/uses/software/react.jpg
  public/uses/software/tailwindcss.jpg
  public/uses/software/vlc.jpg
  public/uses/software/vscode.jpg
  src/app/uses/ProductCard.tsx
  src/app/uses/page.tsx
  src/data/uses.ts
Due: eslint --fix

feat: Displayed reading time on blogs
  src/app/uses/page.tsx
  src/components/mdx/header.tsx
  src/utils/blog.ts
  src/utils/reading-time.ts
Due: eslint --fix

feat: added canonical url in blogs
  src/app/blogs/[slug]/page.tsx
Due: eslint --fix

fix: better seo
  src/app/blogs/page.tsx
  src/app/blogs/page/[page]/page.tsx
  src/app/layout.tsx
  src/components/footer/contact-link.tsx
  src/components/footer/footer.tsx
  src/components/heading.tsx
  src/components/hero/hero.tsx
  src/components/hero/stacked-card.tsx
Due: eslint --fix

refactor: reduced description size
  src/data/blogs/10-years-on-the-internet.mdx
  src/data/blogs/beautify-your-github-profile-like-a-pro.mdx
  src/data/blogs/how-to-brand-yourself-in-9-steps.mdx
  src/data/blogs/how-to-solve-recaptcha-v3-using-python-and-2captcha.mdx
  src/data/blogs/integrating-google-analytics-with-nextjs.mdx
  src/data/blogs/learn-map-filter-and-reduce-in-javascript-a-guide-for-beginners.mdx
  src/data/blogs/linux-cheatsheet-101.mdx
  src/data/blogs/markdown-cheatsheet.mdx
  src/data/blogs/react-mastery-how-to-write-highquality-code-like-a-pro.mdx
  src/data/blogs/regex-cheatsheet-101.mdx
Due: none

fix: added priority tag on blog cover image
  src/components/mdx/header.tsx
  src/components/mdx/mdx-components.tsx
Due: eslint --fix

fix: added minimum cache header for images
  next.config.mjs
Due: none

feat: added placeholder to blog banner
  src/components/mdx/header.tsx
Due: eslint --fix

fix: page transitions lowered LCP
  src/app/template.tsx
Due: eslint --fix

refactor: shortened descriptions for seo
  src/data/blogs/10-years-on-the-internet.mdx
  src/data/blogs/beautify-your-github-profile-like-a-pro.mdx
  src/data/blogs/how-to-brand-yourself-in-9-steps.mdx
  src/data/blogs/how-to-solve-recaptcha-v3-using-python-and-2captcha.mdx
  src/data/blogs/learn-map-filter-and-reduce-in-javascript-a-guide-for-beginners.mdx
  src/data/blogs/linux-cheatsheet-101.mdx
  src/data/blogs/markdown-cheatsheet.mdx
  src/data/blogs/react-mastery-how-to-write-highquality-code-like-a-pro.mdx
  src/data/blogs/regex-cheatsheet-101.mdx
Due: none

fix: typo in blog
  src/data/blogs/beautify-your-github-profile-like-a-pro.mdx
Due: none

feat: added json-ld for blogs
  package.json
  src/app/blogs/SEO.tsx
  src/app/blogs/Schema.ts
  src/app/blogs/[slug]/page.tsx
  src/types/Blog.ts
  src/utils/blog.ts
  yarn.lock
Due: eslint --fix, prettier --write

feat: added type check generating seo
  src/app/blogs/SEO.tsx
  src/app/blogs/Schema.ts
Due: eslint --fix

fix: Missing sizes prop in image with fill property
  src/components/mdx/header.tsx
Due: eslint --fix

feat: added flex wrap to blog banner tags
  src/components/mdx/header.tsx
  src/data/privacy-policy.mdx
Due: eslint --fix

feat: Changed heading to be dynamic
  src/components/heading.tsx
  src/components/hero/hero.tsx
  src/components/hero/what-i-do.tsx
Due: eslint --fix

feat: added dummy h1 tags and fixed canonical urls for seo
  src/app/about/Hero.tsx
  src/app/blogs/Pagination.tsx
  src/app/blogs/page.tsx
  src/app/blogs/page/[page]/page.tsx
  src/app/tags/[tag]/page.tsx
  src/app/tags/page.tsx
  src/app/uses/page.tsx
  src/app/works/page.tsx
  src/utils/blog.ts
Due: eslint --fix

fix: Changed h1 to h2 tag
  src/data/blogs/regex-cheatsheet-101.mdx
Due: none

fix: headings
  src/data/works/anshumaan-art.mdx
  src/data/works/yentarirah.mdx
Due: none

refactor
  src/app/works/[work]/page.tsx
  src/app/works/page.tsx
  src/components/hero/works.tsx
  src/components/mdx/header.tsx
  src/components/mdx/mdx.tsx
  src/components/mdx/text-headings.tsx
  src/utils/works.ts
Due: eslint --fix

fix: removed terms and conditions page
  src/app/terms-and-conditions/page.tsx
  src/components/footer/footer.tsx
Due: eslint --fix
