Repository AcidOP/portfolio: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix, prettier --write

feat: updated 404 style
  src/app/not-found.tsx
Due: eslint --fix

fix: horizontal overflow
  src/components/footer/footer.tsx
Due: eslint --fix

fix: removed misc links from navigation section
  src/components/footer/footer.tsx
Due: eslint --fix

fix: moved misc links to misc section
  src/components/footer/footer.tsx
Due: eslint --fix

Added new rules to robots.txt
  next-sitemap.config.js
Due: eslint --fix

feat: new blod
  src/data/blogs/nextjs-markdown-editor.mdx
Due: none

fix: suppress hydration errors
  src/app/layout.tsx
Due: eslint --fix

fix: links in headin
  src/data/blogs/nextjs-markdown-editor.mdx
Due: none

fix: type error
  src/components/footer/footer.tsx
Due: eslint --fix

fix: typescript error
  src/components/footer/footer.tsx
  src/types/NavLink.ts
Due: eslint --fix

fix: types
  src/components/footer/footer.tsx
Due: eslint --fix

feat: Added types for navlinks
  src/types/NavLink.ts
Due: eslint --fix

feat: added dropdown menu
  package.json
  src/components/navbar/dropdown/index.tsx
  src/components/navbar/dropdown/menu.tsx
  src/components/navbar/hamburger.tsx
  src/components/navbar/mobile/hamburger.tsx
  src/components/navbar/mobile/index.tsx
  src/components/navbar/mobile/mobile-nav.tsx
  src/components/navbar/navbar.tsx
  src/components/navbar/navlinks.ts
  yarn.lock
Due: eslint --fix, prettier --write

feat: added default og tags
  public/og.jpg
  src/app/layout.tsx
Due: eslint --fix

feat: changed og image
  public/og.jpg
Due: none

fix: twitter:site
  src/app/blogs/SEO.tsx
  src/app/layout.tsx
Due: eslint --fix

refactor: unnecessary async function
  src/app/blogs/[slug]/page.tsx
Due: eslint --fix

feat: dynamically import bg beams
  src/components/hero/backgound.tsx
  src/components/hero/hero.tsx
Due: eslint --fix

feat: changed card ui
  src/components/cards/BlogCard.tsx
Due: eslint --fix

feat: Added wordcount in blog banner
  src/components/mdx/header.tsx
  src/utils/blog.ts
Due: eslint --fix

feat: added word count for blogs
  src/components/mdx/header.tsx
Due: eslint --fix

feat: changed ui styles
  src/components/mdx/mdx-components.tsx
  src/components/mdx/text-headings.tsx
Due: eslint --fix

feat: new blog on seo
  src/data/blogs/developer-seo-tips.mdx
Due: none

refactor: updated headings for blogs
  src/data/blogs/10-years-on-the-internet.mdx
  src/data/blogs/beautify-your-github-profile-like-a-pro.mdx
  src/data/blogs/how-to-brand-yourself-in-9-steps.mdx
  src/data/blogs/how-to-solve-recaptcha-v3-using-python-and-2captcha.mdx
  src/data/blogs/learn-map-filter-and-reduce-in-javascript-a-guide-for-beginners.mdx
  src/data/blogs/linux-cheatsheet-101.mdx
  src/data/blogs/markdown-cheatsheet.mdx
  src/data/blogs/nextjs-markdown-editor.mdx
  src/data/blogs/react-mastery-how-to-write-highquality-code-like-a-pro.mdx
  src/data/blogs/regex-cheatsheet-101.mdx
Due: none

fix: broken internal link
  src/data/blogs/developer-seo-tips.mdx
Due: none

fix: broken internal link
  src/data/blogs/how-to-solve-recaptcha-v3-using-python-and-2captcha.mdx
Due: none

refactor: updated an old blog
  public/blogs/beautify-your-github-profile/banner.png
  public/blogs/beautify-your-github-profile/bio.png
  public/blogs/beautify-your-github-profile/contribution.png
  public/blogs/beautify-your-github-profile/cover.jpg
  public/blogs/beautify-your-github-profile/create-repo.png
  public/blogs/beautify-your-github-profile/customize.png
  public/blogs/beautify-your-github-profile/highlights.png
  public/blogs/beautify-your-github-profile/icons.png
  public/blogs/beautify-your-github-profile/my-profile.png
  public/blogs/beautify-your-github-profile/pinned.png
  public/blogs/beautify-your-github-profile/special.png
  public/blogs/beautify-your-github-profile/stats.png
  src/app/globals.css
  src/data/blogs/beautify-your-github-profile-like-a-pro.mdx
  src/data/blogs/beautify-your-github-profile.mdx
Due: stylelint --fix

fix: changed url to new blog url
  src/data/blogs/developer-seo-tips.mdx
Due: none

refactor: changed blog urls
  src/data/blogs/brand-yourself.mdx
  src/data/blogs/js-map-filter-reduce.mdx
  src/data/blogs/react-mastery.mdx
  src/data/blogs/solve-recaptcha-v3-using-python-and-2captcha.mdx
Due: none

huge update
  package.json
  public/images/calendly.png
  public/images/me.jpg
  public/images/woman-painting.jpeg
  src/app/about/About.tsx
  src/app/about/Hero.tsx
  src/app/about/Storyblock.tsx
  src/app/about/TimeDisplay.tsx
  src/app/about/Whoami.tsx
  src/app/about/listDeeds.tsx
  src/app/about/page.tsx
  src/app/contact/Calendly.tsx
  src/components/icons/github.svg
  src/components/icons/instagram.svg
  src/components/icons/twitter.svg
  src/data/blogs/how-to-brand-yourself-in-9-steps.mdx
  src/data/blogs/how-to-solve-recaptcha-v3-using-python-and-2captcha.mdx
  src/data/blogs/learn-map-filter-and-reduce-in-javascript-a-guide-for-beginners.mdx
  src/data/blogs/react-mastery-how-to-write-highquality-code-like-a-pro.mdx
  src/data/config.ts
  src/types/siteconfig.ts
  yarn.lock
Due: eslint --fix, prettier --write

feat: installed contentlayer
  .gitignore
  .prettierrc
  contentlayer.config.ts
  next.config.mjs
  package.json
  src/app/blogs/page.tsx
  src/data/blogs/10-years-on-the-internet.mdx
  src/data/blogs/beautify-your-github-profile.mdx
  src/data/blogs/brand-yourself.mdx
  src/data/blogs/developer-seo-tips.mdx
  src/data/blogs/linux-cheatsheet-101.mdx
  src/data/blogs/markdown-cheatsheet.mdx
  src/data/blogs/nextjs-markdown-editor.mdx
  src/data/blogs/react-mastery.mdx
  src/data/blogs/regex-cheatsheet-101.mdx
  src/data/blogs/solve-recaptcha-v3-using-python-and-2captcha.mdx
  tsconfig.json
  yarn.lock
Due: eslint --fix, prettier --write

refactor: changed EOL from CRLF to LF
  .prettierrc
Due: none

feat: integrated contentlayer for blog listing
  package.json
  src/app/blogs/page.tsx
  src/utils/blog.ts
Due: eslint --fix, prettier --write

feat: migrated to contentlayer from gray-matter
  contentlayer.config.ts
  next.config.mjs
  package.json
  src/app/blogs/SEO.tsx
  src/app/blogs/Schema.ts
  src/app/blogs/[slug]/page.tsx
  src/components/cards/BlogCard.tsx
  src/components/mdx/header.tsx
  src/components/mdx/mdx-components.tsx
  src/components/mdx/mdx.tsx
  src/components/mdx/text-headings.tsx
  src/utils/blog.ts
  src/utils/reading-time.ts
  yarn.lock
Due: eslint --fix, prettier --write

refactor: updated return statements
  src/utils/blog.ts
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  stylelint --fix: any of: *.{css,scss}
  prettier --write: any of: *.{json,md}
