Repository AcidOP/portfolio: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["eslint --fix", "git add"],
  "*.{css,scss}": ["stylelint --fix", "git add"],
  "*.{json,md}": ["prettier --write", "git add"]
}

build: changed blog card
  analyze/nodejs.html
  next.config.mjs
  src/app/blogs/page.tsx
  src/utils/blog.ts
  yarn.lock
Due: eslint --fix

feat: blog card finished with good ui
  src/app/blogs/page.tsx
Due: eslint --fix

fix: removed next bundle analyzer from prettier and git config
  .gitignore
  .prettierignore
  src/app/blogs/page.tsx
Due: eslint --fix

feat: add latest blogs in bento layout dynamically
  src/components/hero/bento.tsx
  src/utils/blog.ts
Due: eslint --fix

fix: blank alt text in images
  src/components/works.tsx
Due: eslint --fix

fix: removed typeform
  .env
  public/images/about-me-t.png
  src/app/contact/_components/calendly.tsx
  src/app/contact/page.tsx
  src/components/testimonials.tsx
Due: eslint --fix

feat: mobile navbar added with a hamburger
  .gitignore
  analyze/nodejs.html
  src/app/contact/_components/calendly.tsx
  src/components/hero/bento.tsx
  src/components/navbar/mobile/hamburger.tsx
  src/components/navbar/mobile/index.tsx
  src/components/navbar/mobile/mobile-nav.tsx
  src/components/navbar/navbar.tsx
  src/components/navbar/navlinks.ts
Due: eslint --fix

fix: replaced all instances of clsx with custom cn helper
  src/app/about/_components/hero.tsx
  src/app/about/_components/whoami.tsx
  src/app/layout.tsx
  src/app/projects/page.tsx
  src/components/hero/stacked-card.tsx
  src/components/navbar/nav-link.tsx
Due: eslint --fix

refactor: replaced all instances of fonts with a helper
  src/app/about/_components/hero.tsx
  src/app/about/_components/whoami.tsx
  src/app/layout.tsx
  src/app/not-found.tsx
  src/components/fonts.ts
  src/components/footer/contact-link.tsx
  src/components/footer/footer.tsx
  src/components/heading.tsx
  src/components/hero/bento.tsx
  src/components/hero/hero.tsx
  src/components/hero/stacked-card.tsx
  src/components/hero/what-i-do.tsx
  src/components/testimonials.tsx
Due: eslint --fix

refactor: replaced hardcoded links
  src/components/footer/footer.tsx
Due: eslint --fix

fix: about me text spanned on top of hamburger
  .env
  .gitignore
  src/components/hero/bento.tsx
  src/components/navbar/mobile/mobile-nav.tsx
  src/components/navbar/navbar.tsx
Due: eslint --fix

feat: made the contact page responsive
  src/app/contact/_components/calendly.tsx
  src/app/contact/page.tsx
Due: eslint --fix

fix: fixed accessibility issue
  src/components/navbar/mobile/hamburger.tsx
Due: eslint --fix

fix: fixed accessibility issues
  src/components/hero/hero.tsx
  src/components/hero/stacked-card.tsx
  src/components/hero/what-i-do.tsx
  src/components/testimonials.tsx
Due: eslint --fix

fix: removed bg beams from mobile devices
  src/components/hero/backgound.tsx
  src/components/hero/stacked-card.tsx
Due: eslint --fix

refactor: removed FC
  .env
  src/app/about/_components/hero.tsx
  src/app/about/_components/storyblock.tsx
  src/app/about/_components/whoami.tsx
  src/app/blogs/_components/BlogCard.tsx
  src/app/blogs/page.tsx
  src/app/contact/_components/calendly.tsx
  src/app/template.tsx
  src/app/works/[work]/page.tsx
  src/components/animated-tooltip.tsx
  src/components/footer/contact-link.tsx
  src/components/footer/footer.tsx
  src/components/heading.tsx
  src/components/hero/backgound.tsx
  src/components/hero/bento.tsx
  src/components/hero/hero-blob.tsx
  src/components/hero/hero.tsx
  src/components/hero/stacked-card.tsx
  src/components/mdx/back-button.tsx
  src/components/mdx/header.tsx
  src/components/mdx/mdx.tsx
  src/components/navbar/mobile/hamburger.tsx
  src/components/navbar/nav-link.tsx
  src/components/newsletter.tsx
  src/components/testimonials.tsx
Due: eslint --fix

feat: custom scrollbar
  src/app/globals.css
Due: stylelint --fix

feat: Umami analytics added
  .env
  .gitignore
  src/app/layout.tsx
  src/components/analytics/Umami.ts
Due: eslint --fix

fix: umami broke
  src/app/layout.tsx
  src/components/analytics/Umami.ts
Due: eslint --fix

fix: umami not working
  src/app/layout.tsx
  src/components/analytics/Umami.tsx
  vercel.json
Due: eslint --fix, prettier --write

feat: added simple analytics
  src/app/layout.tsx
  src/app/privacy-policy/page.tsx
  src/components/analytics/SimpleAnalytics.tsx
  src/components/analytics/index.tsx
Due: eslint --fix

feat: setup dns records for SA
  src/components/analytics/SimpleAnalytics.tsx
  src/components/analytics/Umami.tsx
Due: eslint --fix

fix: ssl broke
  src/components/analytics/SimpleAnalytics.tsx
Due: eslint --fix

feat: added vercel analytics
  package.json
  src/components/analytics/SimpleAnalytics.tsx
  src/components/analytics/VercelAnalytics.tsx
  src/components/analytics/index.tsx
  yarn.lock
Due: eslint --fix, prettier --write

refactor: removed junk config
  src/app/about/_components/whoami.tsx
  src/components/hero/hero.tsx
  src/components/hero/what-i-do.tsx
  src/components/testimonials.tsx
  src/data/blogs/markdown-cheatsheet.mdx
  src/data/config.ts
Due: eslint --fix

feat: newsletter added
  package.json
  src/components/confetti.tsx
  src/components/footer/footer.tsx
  src/components/newsletter/newsletter.tsx
  src/components/newsletter/providers/buttondown.ts
  src/components/newsletter/providers/emailoctopus.ts
  src/components/newsletter/providers/mailchimp.ts
  src/components/newsletter/subscribe-box.tsx
  src/data/config.ts
  src/utils/email.ts
  yarn.lock
Due: eslint --fix, prettier --write

refactor: line spacings
  src/components/newsletter/subscribe-box.tsx
Due: eslint --fix

feat: vercel speed insights added
  package.json
  src/components/analytics/VercelSpeedInsights.tsx
  src/components/analytics/index.tsx
  yarn.lock
Due: eslint --fix, prettier --write

feat: vercel speed insights added
  src/components/analytics/VercelSpeedInsights.tsx
Due: eslint --fix

fix: wrong package installed
  src/components/analytics/VercelAnalytics.tsx
Due: eslint --fix

Versioning untracked files
  src/components/analytics/VercelAnalytics.tsx
  src/data/config.ts
  tsconfig.json
Due: eslint --fix, prettier --write

feat: added a newsletter page
  package.json
  public/logos/logo-base-1200x1200.png
  public/logos/logo-base-256x256.png
  public/logos/logo-base-32x32.png
  public/logos/logo-black-1200x1200.png
  public/logos/logo-black-256x256.png
  public/logos/logo-black-32x32.png
  public/logos/logo-white-1200x1200.png
  public/logos/logo-white-256x256.png
  public/logos/logo-white-32x32.png
  public/testimonials/anshumaan.jpg
  src/app/newsletter/_components/subscribe-box.tsx
  src/app/newsletter/page.tsx
  src/data/config.ts
  tailwind.config.ts
  yarn.lock
Due: eslint --fix, prettier --write

fix: logic error where number of work files was hardcoded to 3
  public/cursor/view.svg
  public/images/about-me-t.png
  public/images/lamps.jpg
  src/app/blogs/[slug]/page.tsx
  src/app/page.tsx
  src/components/hero/works.tsx
  src/utils/works.ts
Due: eslint --fix

fix: moved hardcoded calendly url to config file
  src/app/contact/page.tsx
  src/data/config.ts
Due: eslint --fix

feat: added pagination for blogsd
  src/app/blogs/page/[page]/page.tsx
  src/data/config.ts
Due: eslint --fix

feat: added a pagination button
  src/app/blogs/_components/Pagination.tsx
  src/app/blogs/page.tsx
  src/app/blogs/page/[page]/page.tsx
  src/utils/blog.ts
Due: eslint --fix

feat: Added next/image in custom mdx component
  package.json
  src/app/blogs/_components/BlogCard.tsx
  src/components/hero/bento.tsx
  src/components/mdx/mdx-components.tsx
  src/data/blogs/beautify-your-github-profile-like-a-pro.mdx
  src/utils/image.ts
  yarn.lock
Due: eslint --fix, prettier --write
