Repository AcidOP/portfolio: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix, prettier --write

feat: implemented contentlayer for works page
  contentlayer.config.ts
  next.config.mjs
  package.json
  src/app/works/page.tsx
  src/components/mdx/codeblock.css
  src/components/mdx/mdx-components.tsx
  src/components/mdx/mdx.tsx
  src/data/works/anshumaan-art.mdx
  src/data/works/test.mdx
  src/data/works/yentarirah.mdx
  src/utils/works.ts
  yarn.lock
Due: eslint --fix, stylelint --fix, prettier --write

fix: eslint error
  src/app/about/TimeDisplay.tsx
Due: eslint --fix

fix: broken urls
  contentlayer.config.ts
  src/app/blogs/[slug]/page.tsx
  src/app/works/page.tsx
  src/components/cards/BlogCard.tsx
  src/components/hero/bento.tsx
  src/components/mdx/header.tsx
  src/utils/blog.ts
  src/utils/works.ts
Due: eslint --fix

feat: animations added
  src/app/blogs/page.tsx
  src/app/blogs/page/[page]/page.tsx
  src/app/tags/[tag]/page.tsx
  src/app/uses/page.tsx
  src/app/works/page.tsx
  src/components/cards/BlogCard.tsx
  src/components/cards/ListBlogs.tsx
  src/components/cards/ProductCard.tsx
  src/components/cards/WorkCard.tsx
  src/components/hero/bento.tsx
  src/components/hero/hero-blob.tsx
  src/components/hero/hero.tsx
  src/components/hero/stacked-card.tsx
  src/components/lists/ListBlogs.tsx
  src/components/lists/ListWorks.tsx
  src/components/navbar/dropdown/menu.tsx
  src/components/navbar/hamburger.tsx
Due: eslint --fix

refactor: utility files
  src/app/uses/page.tsx
  src/components/lists/ListUses.tsx
Due: eslint --fix

refactor: reduced css
  src/components/hero/bento.tsx
Due: eslint --fix

feat: scroll to top btn
  src/app/blogs/[slug]/page.tsx
  src/components/hero/bento.tsx
  src/components/mdx/back-button.tsx
  src/components/mdx/scroll-top.tsx
Due: eslint --fix

fix: broken urls
  src/components/hero/works.tsx
Due: eslint --fix

fix: reading time not displaying
  src/components/mdx/header.tsx
Due: eslint --fix

feat: updated blog
  public/blogs/developer-seo-tips/canonical.jpg
  public/blogs/developer-seo-tips/cover.jpg
  public/blogs/developer-seo-tips/description.jpg
  public/blogs/developer-seo-tips/metrics.jpg
  public/blogs/developer-seo-tips/pagespeed.jpg
  public/blogs/developer-seo-tips/underscores.jpg
  src/data/blogs/developer-seo-tips.mdx
Due: none

feat: next/image no optimize development
  next.config.mjs
Due: none

feat: UI changes for blogs
  src/components/mdx/header.tsx
  src/components/mdx/mdx-components.tsx
Due: eslint --fix

feat: ui changed
  src/app/about/Hero.tsx
  src/app/layout.tsx
  src/app/works/page.tsx
  src/components/ScreenFitText.tsx
  src/components/fonts.ts
  src/components/footer.tsx
  src/components/footer/contact-link.tsx
  src/components/heading.tsx
  src/components/hero/backgound.tsx
  src/components/hero/bento.tsx
  src/components/hero/hero.tsx
  src/components/hero/stacked-card.tsx
  src/components/hero/what-i-do.tsx
  src/components/hero/works.tsx
  src/components/lists/ListWorks.tsx
  src/components/testimonials.tsx
  src/data/testimonials.ts
Due: eslint --fix

feat: new component
  src/components/MarqueeText.tsx
Due: eslint --fix

feat: added marquee in footer
  src/components/footer.tsx
Due: eslint --fix

feat: removed font suez
  src/app/newsletter/page.tsx
  src/app/not-found.tsx
  src/app/works/page.tsx
  src/components/fonts.ts
  src/components/footer.tsx
  src/components/hero/bento.tsx
  src/components/navbar/navbar.tsx
Due: eslint --fix

feat: changed dot sizing
  src/components/MarqueeText.tsx
Due: eslint --fix

feat: bolder logo text
  src/components/navbar/navbar.tsx
Due: eslint --fix

feat: updated works
  src/data/works/acidop-codes.mdx
  src/data/works/yentarirah.mdx
Due: none

fix: removed overflow
  src/components/MarqueeText.tsx
Due: eslint --fix

feat: more ui changes
  src/app/globals.css
  src/components/hero/works.tsx
  src/components/navbar/hamburger.tsx
  src/components/navbar/mobile/index.tsx
  src/components/navbar/mobile/mobile-nav.tsx
  src/components/navbar/navbar.tsx
  src/components/testimonials.tsx
Due: eslint --fix, stylelint --fix

feat: upscaled og.jpg
  public/og.jpg
Due: none

fix: cards overflow
  .env.example
  src/components/MarqueeText.tsx
  src/components/footer.tsx
  src/components/hero/stacked-card.tsx
Due: eslint --fix

refactor: prettier
  src/components/MarqueeText.tsx
Due: eslint --fix

feat: website links for works
  src/components/mdx/header.tsx
Due: eslint --fix

refactor: prettier
  src/components/mdx/header.tsx
Due: eslint --fix

Revert "refactor: prettier"
  src/components/mdx/header.tsx
Due: eslint --fix

feat: collapsible navbar
  package.json
  src/app/globals.css
  src/app/layout.tsx
  src/components/footer.tsx
  src/components/hero/stacked-card.tsx
  src/components/mdx/header.tsx
  src/components/navbar/ContactBtn.tsx
  src/components/navbar/Hamburger.tsx
  src/components/navbar/Logo.tsx
  src/components/navbar/NavLink.tsx
  src/components/navbar/Navbar.tsx
  src/components/navbar/dropdown/index.tsx
  src/components/navbar/index.tsx
  src/components/navbar/mobile/index.tsx
  src/components/navbar/mobile/mobile-nav.tsx
  src/components/navbar/navbar.tsx
  src/components/newsletter/newsletter.tsx
  yarn.lock
Due: eslint --fix, stylelint --fix, prettier --write

feat: layout changes
  src/app/globals.css
  src/components/MarqueeText.tsx
  src/components/footer.tsx
  src/components/hero/bento.tsx
  src/components/hero/hero-blob.tsx
  src/components/hero/hero.tsx
  src/components/newsletter/subscribe-box.tsx
Due: eslint --fix, stylelint --fix

feat: uwu
  src/components/hero/stacked-card.tsx
  src/components/hero/what-i-do.tsx
Due: eslint --fix

fix: layout issues
  src/app/about/page.tsx
  src/app/blogs/layout.tsx
  src/app/contact/Calendly.tsx
  src/app/contact/page.tsx
  src/app/globals.css
  src/app/newsletter/SubscribeBox.tsx
  src/app/newsletter/layout.tsx
  src/app/newsletter/page.tsx
  src/app/uses/page.tsx
  src/app/works/layout.tsx
  src/components/Container.tsx
  src/components/MarqueeText.tsx
  src/components/footer.tsx
  src/components/hero/bento.tsx
  src/components/hero/hero.tsx
  src/components/hero/what-i-do.tsx
  src/components/hero/works.tsx
  src/components/navbar/Logo.tsx
  src/components/navbar/Navbar.tsx
  src/components/navbar/index.tsx
  src/components/testimonials.tsx
Due: eslint --fix, stylelint --fix

feat: updated styles
  contentlayer.config.ts
  public/blogs/nextjs-markdown-editor/mdx-editor.jpg
  src/components/footer.tsx
  src/components/mdx/codeblock.css
Due: eslint --fix, stylelint --fix

feat: update blog
  src/data/blogs/nextjs-markdown-editor.mdx
Due: none

refactor: name conventions
  src/app/contact/page.tsx
  src/app/tags/page.tsx
  src/components/about.tsx
  src/components/lists/blogs.tsx
  src/components/lists/uses.tsx
Due: eslint --fix

feat: new ui
  public/images/about-1.png
  public/images/about-2.png
  public/images/photo-1698512475067-74ed7c956c8d.avif
  src/components/about.tsx
Due: eslint --fix

refactor:
  src/components/about.tsx
Due: eslint --fix

fix: responsive view
  src/components/about-hero.tsx
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  stylelint --fix: any of: *.{css,scss}
  prettier --write: any of: *.{json,md}
