Repository AcidOP/portfolio: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix, prettier --write

feat(component): added Bento gird behind hero section
  public/images/blue-me.jpg
  public/images/hero-about-transformed.webp
  public/images/hero-about.jpg
  public/images/lamps.jpg
  src/app/page.tsx
  src/components/Hero/Bento.tsx
Due: eslint --fix

feat(frontend): added a Bento grid under homepage
  package-lock.json
  package.json
  src/app/layout.tsx
  src/components/3d-card.tsx
  src/components/Hero/Bento.tsx
  src/components/Testimonials.tsx
  src/components/Works.tsx
  src/data/config.ts
  src/utils/blog.ts
Due: eslint --fix, prettier --write

build: new packages
  package-lock.json
  package.json
  src/app/blogs/page.tsx
  src/utils/blog.ts
Due: eslint --fix, prettier --write

build(package): setup Contentlayer for blogs
  .gitignore
  contentlayer.config.js
  next.config.mjs
  package-lock.json
  package.json
  src/app/blogs/page.tsx
  src/data/blogs/10-years-on-the-internet.md
  src/data/blogs/10-years-on-the-internet.mdx
  src/data/blogs/15-unorthodox-apis-to-elevate-your-project.md
  src/data/blogs/cheatsheet/linux-cheatsheet-101.md
  src/data/blogs/cheatsheet/markdown-cheatsheet.md
  src/data/blogs/cheatsheet/regex-cheatsheet-101.md
  src/data/blogs/cyber/fully-undetectable-reverse-shells.md
  src/data/blogs/cyber/malware-on-discord-a-cautionary-tale.md
  src/data/blogs/cyber/why-cybersecurity-is-crucial-in-the-modern-workplace.md
  src/data/blogs/guides/beautify-your-github-profile-like-a-pro.md
  src/data/blogs/guides/how-to-brand-yourself-in-9-steps.md
  src/data/blogs/guides/how-to-solve-recaptcha-v3-using-python-and-2captcha.md
  src/data/blogs/guides/learn-map-filter-and-reduce-in-javascript-a-guide-for-beginners.md
  src/data/blogs/how-crypto-lost-its-way.md
  src/data/blogs/tailwindcss-vs-bootstrap.md
  src/data/blogs/webdev/integrating-google-analytics-with-nextjs.md
  src/data/blogs/webdev/npm-vs-yarn-an-indepth-comparison.md
  src/data/blogs/webdev/react-mastery-how-to-write-highquality-code-like-a-pro.md
  tsconfig.json
Due: eslint --fix, prettier --write

Removed Contentlayer
  contentlayer.config.js
  package-lock.json
  package.json
  src/app/blogs/[slug]/page.tsx
  src/data/blogs/10-years-on-the-internet.mdx
  src/data/blogs/my-first-post.mdx
  tailwind.config.ts
  tsconfig.json
  yarn.lock
Due: eslint --fix, prettier --write

Updated packages
  package.json
  yarn.lock
Due: prettier --write

build(package): setup next-sitemap to generate sitemaps
  .gitignore
  next-sitemap.config.js
  package.json
  tsconfig.json
  yarn.lock
Due: eslint --fix, prettier --write

feat(component): render markdown in /blogs/slug
  next-sitemap.config.js
  package.json
  src/app/blogs/[slug]/page.tsx
  src/app/blogs/page.tsx
  src/components/3d-card.tsx
  src/data/blogs/my-first-post.mdx
  src/utils/blog.ts
Due: eslint --fix, prettier --write

fix(component): excluded Nextjs SSG files from robots.txt crawling
  .env
  next-sitemap.config.js
  src/app/blogs/[slug]/page.tsx
Due: eslint --fix

chore: replaced repetitive code with functions
  src/utils/blog.ts
Due: eslint --fix

fix: removed `lastmod` property from sitemap
  next-sitemap.config.js
Due: eslint --fix

feat: added a 404 page
  public/images/404/404.svg
  src/app/blogs/[slug]/page.tsx
  src/app/not-found.tsx
Due: eslint --fix

feat: added a 404 page
  src/app/not-found.tsx
Due: eslint --fix

feat: added syntax-highlighting in blogs
  package.json
  src/app/blogs/[slug]/page.tsx
  src/components/mdx/Link.tsx
  src/components/mdx/MDXComponents.tsx
  src/components/mdx/Mdx.tsx
  yarn.lock
Due: eslint --fix, prettier --write

chore: deleted unused file
  src/components/mdx/Link.tsx
Due: eslint --fix

feat: heading links in blogs
  package.json
  src/app/blogs/[slug]/page.tsx
  src/app/globals.css
  src/components/mdx/MDXComponents.tsx
  src/components/mdx/Mdx.tsx
  yarn.lock
Due: eslint --fix, stylelint --fix, prettier --write

chore: lowercase folder names
  src/app/blogs/[slug]/page.tsx
  src/app/layout.tsx
  src/app/page.tsx
Due: eslint --fix

feat: added a privacy policy
  src/app/privacy-policy/page.tsx
  src/data/privacy-policy.mdx
  src/utils/markdown.ts
  yarn.lock
Due: eslint --fix

feat: dynamic blog page ready
  src/app/blogs/[slug]/_components/GoBackButton.tsx
  src/app/blogs/[slug]/_components/Header.tsx
  src/app/blogs/[slug]/page.tsx
  src/data/blogs/10-years-on-the-internet.mdx
  src/data/blogs/my-first-post.mdx
  src/utils/blog.ts
Due: eslint --fix

feat: generate metadata for blogs
  .env
  src/app/blogs/[slug]/page.tsx
Due: eslint --fix

fix: removed baseUrl from config
  tsconfig.json
Due: prettier --write

chore: lowercase filenames
  src/app/blogs/[slug]/page.tsx
  src/app/layout.tsx
  src/app/page.tsx
  src/app/privacy-policy/page.tsx
  src/components/Footer/Footer.tsx
  src/components/Footer/contact-link.tsx
  src/components/Hero/Hero.tsx
  src/components/Hero/stacked-card.tsx
  src/components/Hero/what-i-do.tsx
  src/components/Navbar/Navbar.tsx
  src/components/Navbar/nav-link.tsx
  src/components/Newsletter.tsx
  src/components/animated-tooltip.tsx
  src/components/mdx/Mdx.tsx
  src/components/mdx/mdx-components.tsx
Due: eslint --fix

chore: lowercase filenames
  src/app/about/_components/Work/WorkPrinciples.tsx
  src/app/about/page.tsx
  src/app/blogs/[slug]/_components/back-button.tsx
  src/app/blogs/[slug]/page.tsx
Due: eslint --fix

feat: disable next telemetry data collection
  .env
Due: none

fix: git Ignorecase set to false
  src/app/about/_components/hero.tsx
  src/app/about/_components/storyblock.tsx
  src/app/about/_components/whoami.tsx
  src/app/blogs/[slug]/_components/header.tsx
  src/components/footer/contact-link.tsx
  src/components/footer/footer.tsx
  src/components/hero/backgound.tsx
  src/components/hero/bento.tsx
  src/components/hero/hero.tsx
  src/components/hero/stacked-card.tsx
  src/components/hero/what-i-do.tsx
  src/components/mdx/mdx.tsx
  src/components/navbar/nav-link.tsx
  src/components/navbar/navbar.tsx
  src/components/newsletter.tsx
  src/components/testimonials.tsx
  src/components/works.tsx
Due: eslint --fix

fix: filename fix
  src/components/Hero/what-i-do.tsx
  src/components/hero/what-i-do.tsx
Due: eslint --fix

fix: filename exists error on vercel
  src/components/Hero/what-i-do.tsx
Due: eslint --fix

fix: filename exists error on vercel
  src/components/Footer/contact-link.tsx
Due: eslint --fix

fix: filename exists error on vercel
  src/components/Hero/stacked-card.tsx
Due: eslint --fix

fix: filename exists error on vercel
  src/components/Navbar/nav-link.tsx
Due: eslint --fix

fix: added URL for sitemap generation
  next-sitemap.config.js
Due: eslint --fix

feat: setup metadataBase for metadata base url
  .env
  src/app/layout.tsx
Due: eslint --fix

feat: added hover ui in back button
  src/app/blogs/[slug]/_components/back-button.tsx
Due: eslint --fix

fix: ui
  src/components/footer/contact-link.tsx
  src/components/footer/footer.tsx
  src/components/newsletter.tsx
Due: eslint --fix

feat: heading component
  src/app/blogs/page.tsx
  src/components/heading.tsx
  src/components/hero/what-i-do.tsx
  src/components/testimonials.tsx
  src/components/works.tsx
  src/data/blogs/my-first-post.mdx
Due: eslint --fix

feat: changed ui of testimonials cards
  src/components/testimonials.tsx
Due: eslint --fix

feat: better mobile ui
  src/app/about/_components/storyblock.tsx
Due: eslint --fix

build: added next bundle analyzer
  next.config.mjs
  package.json
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  stylelint --fix: any of: *.{css,scss}
  prettier --write: any of: *.{json,md}
